<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.exampl.tasklist.repository.UserRepository">

    <resultMap id="UserResultMap" type="com.exampl.tasklist.domain.user.User" autoMapping="false">
        <id property="id" column="user_id"/>
        <result property="name" column="user_name"/>
        <result property="username" column="user_username"/>
        <result property="password" column="user_password"/>
        <collection property="roles" ofType="com.exampl.tasklist.domain.user.Role"
                    autoMapping="false">
            <result property="name" column="user_role_role"/>
        </collection>

        <collection property="tasks" ofType="com.exampl.tasklist.domain.task.Task"
                    resultMap="com.exampl.tasklist.repository.TaskRepository.TaskResultMap"
                    autoMapping="false"/>

    </resultMap>

    <select id="findById" resultMap="UserResultMap">
        select u.id as user_id,
        u.name as user_name,
        u.username as user_username,
        u.password as user_password,
        ur.role as user_role_role,
        t.id as task_id,
        t.title as task_title,
        t.description as task_description,
        t.expiration_date as task_expiration_date,
        t.status as task_status

        from users u
        left join users_roles ur on u.id = ur.user_id
        left join users_tasks ut on u.id = ut.user_id
        left join tasks t on ut.task_id = t.id
        where u.id = #{id}
    </select>

    <select id="findByUsername" resultMap="UserResultMap">
        select u.id as user_id,
        u.name as user_name,
        u.username as user_username,
        u.password as user_password,
        ur.role as user_role_role,
        t.id as task_id,
        t.title as task_title,
        t.description as task_description,
        t.expiration_date as task_expiration_date,
        t.status as task_status

        from users u
        left join users_roles ur on u.id = ur.user_id
        left join users_tasks ut on u.id = ut.user_id
        left join tasks t on ut.task_id = t.id
        where u.username = #{username}
    </select>


    <delete id="delete">
        delete from users
        where id=#{id}
    </delete>

    <update id="update">
        update users
        set name = #{name},
        username = #{username},
        password = #{password}
        where id = #{id}
    </update>

    <insert id="create" keyProperty="id" keyColumn="id" useGeneratedKeys="true">
        insert into users(name, username, password)
        values(#{name},#{username},#{password})
    </insert>

    <insert id="insertUserRole">
        insert into users_roles(user_id, role)
        values(#{user_id},#{role})
    </insert>

    <select id="isTaskOwner" resultType="boolean">
        select exists(
        select 1
        from users_tasks
        where user_id = #{user_id} and task_id = #{task_id}
        )
    </select>

</mapper>